{{ define "title" }}{{ cond (eq .Site.Params.titlecase true) (.Title | title | markdownify) (.Title | markdownify) }}{{ end }}

{{ define "layout" }}
		{{- if .Params.less -}}
			{{- with .Params.themes -}}
				{{- range . }}
					<link rel="stylesheet" href="{{ "/css/" | absURL }}{{ . }}.less"></style>
				{{- end -}}
				<script src="{{ "/js/less.min.js" | absURL }}"></script>
			{{- end }}
		{{ else }}
			{{- with .Params.themes -}}
				{{- range . }}
					<link rel="stylesheet" href="{{ "/css/" | absURL }}{{ . }}.css"></style>
				{{- end -}}
			{{- else }}
			<link rel="stylesheet" href="{{ "/css/" | absURL }}{{ .Params.theme }}.css"></style>
			{{- end }}
		{{- end -}}
		<style type="text/css">
		@page {
			size: {{ if .Params.ratio }} 1216px 684px; {{ else }} 912px 684px; {{ end }}
			margin: 0;
		}
		@media print {
			.remark-slide-scaler {
				width: 100% !important;
				height: 100% !important;
				transform: scale(1) !important;
				top: 0 !important;
				left: 0 !important;
			}
		}
		</style>
{{ end }}

{{ define "header" }}
  <!-- simply override the "header" from baseof.html to make it empty -->
{{ end }}

{{ define "main" }}
    <textarea id="source">
			{{- .RawContent -}}
    </textarea>
    <script type="text/javascript" src="{{ "/js/qrcode.js" | absURL }}"></script>
    <script src="{{ "/js/remark.min.js" | absURL }}"></script>
    <script>
      var slideshow = remark.create({
         {{ if .Params.ratio }} ratio: "{{ .Params.ratio }}", {{ end }}
         navigation: {
            scroll: false
         },
         countIncrementalSlides: false,
         slideNumberFormat: '%current%'
      });
		// Shrink headers until they fit. (They have to be momentarily made
		// visible first.)
		$(".remark-slide-content.fit-h1 h1").each(function(i, e) {
			var $e = $(e);
			var $p = $e.closest('div.remark-slide-container');
			var needsToggle = !$p.hasClass('remark-visible');
			console.log(needsToggle);
			if ( needsToggle ) $p.toggleClass('remark-visible');
			while (e.scrollHeight > e.clientHeight + 1 && $e.css('font-size') != '1px') {
				$e.css('font-size', (parseInt($e.css('font-size')) - 1) + "px");
				// console.log($e.css('font-size') + "sh:" + e.scrollHeight + "ch:" +
				// 	e.clientHeight);
			}
			if ( needsToggle ) $p.toggleClass('remark-visible');
		});
		$( function() {
			if ( $( "body.feature-qrcode:not(.feature-noqrcode)" ).length ) {
				new QRCode($("#qrcode"), {
					"useSVG": true,
					"text": window.location.href.replace(/#\d*$/, "")
				});
			}
		});
    </script>
{{ end }}

{{ define "social" }}
		<meta name="og:title" content="{{ cond (eq .Site.Params.titlecase true) (.Title | title | markdownify) (.Title | markdownify) }}" />
		<meta name="og:type" content="article" />
		<meta name="og:image" content="{{ .Params.image }}" />
		<meta name="og:description" content="{{ .Description }}" />
		<meta name="og:url" content="{{ .Permalink }}" />
		<meta name="og:site_name" content="{{ cond (eq .Site.Params.titlecase true) (.Title | title | markdownify) (.Title | markdownify) }}" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@{{ .Site.Params.Twitter }}" />
{{ end }}

{{ define "about" }}
  <!-- simply override the "header" from baseof.html to make it empty -->
{{ end }}
{{ define "footer" }}
  <!-- simply override the "header" from baseof.html to make it empty -->
{{ end }}
