{{ define "title" }}{{ .Section | title }} &bullet; {{ .Site.Title }}{{ end }}
{{ define "main" }}
<div class="pa3 pa4-ns w-100 w-70-ns center">
  <section class="w-100 mw8">
  <!-- if the section isn't "slides" then omit them; otherwise list slides -->
  {{ if ne .Section "slides" }}
    {{ range where .Paginator.Pages "Section" "ne" "slides" }}
      {{ partial "li.html" . }}
    {{ end }}
  {{ else }}
    {{ range .Paginator.Pages }}
      {{ partial "li.html" . }}
    {{ end }}
  {{ end }}
  </section>
</div>
{{ end }}

{{ define "pagination" }}
<footer class="w-100 sans-serif" role="contentinfo">
	<nav class="w-third-l pb3 f6 center db" role="navigation">
		{{- template "_internal/pagination.html" . -}}
	</nav>
</footer>
{{ end }}
