{{ define "title" }}{{ .Section | title }} &bullet; {{ .Site.Title }}{{ end }}
{{ define "main" }}
<div class="pa3 pa4-ns w-100 w-70-ns center">
  <section class="w-100 mw8">
  <!-- list all talks; list non-future slides; else list things that are not future and not slides -->
  {{ $pages := where .Paginator.Pages ".Params.skip" "ne" "true" }}
  {{ if eq .Section "talks" }}
    {{ range $pages }}
      {{ partial "li.html" . }}
    {{ end }}
  {{ else if eq .Section "slides" }}
    {{ range where $pages ".Date.Unix" "<" now.Unix }}
      {{ partial "li.html" . }}
    {{ end }}
  {{ else }}
    {{ range where (where $pages ".Date.Unix" "<" now.Unix) "Section" "ne" "slides" }}
      {{ partial "li.html" . }}
    {{ end }}
  {{ end }}
  </section>
</div>
{{ end }}

{{ define "pagination" }}
<footer class="w-100 sans-serif" role="contentinfo">
	<nav class="w-third-l pb3 f6 center db" role="navigation">
		{{- template "_internal/pagination.html" . -}}
	</nav>
</footer>
{{ end }}
