{{ define "title" }}{{ .Title }}{{ end }}

{{ define "main" }}
<article class="flex-l flex-wrap justify-between mw8 center ph3 ph0-l">
	<main class="nested-copy-line-height lh-copy f4 nested-links nested-img pr4-l measure-wide">
		{{ .Content }}
	</main>
</article>
{{ end }}

{{ define "social" }}
		<meta name="og:title" content="{{ .Title }}" />
		<meta name="og:type" content="article" />
		<meta name="og:image" content="{{ .Site.BaseURL }}{{ .Params.image }}" />
		<meta name="og:description" content="{{ .Description }}" />
		<meta name="og:url" content="{{ .Permalink }}" />
		<meta name="og:site_name" content="{{ .Title }}" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@{{ .Site.Params.Twitter }}" />
{{ end }}
