{{ define "title" }}{{ cond (eq .Site.Params.titlecase true) (.Title | title | markdownify) (.Title | markdownify) }}{{ end }}

{{ define "main" }}
<article class="center ph3 nested-copy-line-height lh-copy f4 nested-links mw-100 measure-wide">
	{{ .Content }}
</article>
{{ end }}

{{ define "social" }}
		<meta name="og:title" content="{{ cond (eq .Site.Params.titlecase true) (.Title | title | markdownify) (.Title | markdownify) }}" />
		<meta name="og:type" content="article" />
		<meta name="og:image" content="{{ default "img/default-header-img.jpg" .Params.image | absURL }}" />
		<meta name="og:description" content="{{ .Description }}" />
		<meta name="og:url" content="{{ .Permalink }}" />
		<meta name="og:site_name" content="{{ cond (eq .Site.Params.titlecase true) (.Title | title | markdownify) (.Title | markdownify) }}" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@{{ .Site.Params.twitter }}" />
{{ end }}
