{{ define "title" }}{{ .Title }}{{ end }}
{{ define "main" }}

	<section class="banner style2 content-align-center image-position-center">
		<div class="content">
			<h1>{{ .Title }}</h1>
			<p>Posted in <a href="#">Leadership</a> on April 28, 2018.</p>
			<ul class="icons">
				<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
			</ul>
		</div>
		<div class="image">
			<a href="/"><img src="{{ .Params.image }}" /></a>
		</div>
	</section>
	<section class="wrapper style1 align-left">
		<div class="inner">
			{{ .Content }}
		</div>
	</section>

{{ end }}
{{ define "social" }}
		<meta name="og:title" content="{{ .Title }}" />
		<meta name="og:type" content="article" />
		<meta name="og:image" content="{{ .Params.image }}" />
		<meta name="og:description" content="{{ .Description }}" />
		<meta name="og:url" content="{{ .Permalink }}" />
		<meta name="og:site_name" content="{{ .Title }}" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@{{ .Site.Params.Twitter }}" />
{{ end }}
