{{ define "title" }}Error 404 Not Found{{ end }}
{{ define "main" }}

	<section class="banner style3 orient-center content-align-center image-position-center">
		<div class="content">
			<header>
			<h1>What is the sound of one page missing?</h1>
			<p>That page doesn't exist. Perhaps you'd like to search this site or start at the homepage.</p>
			</header>
			<ul class="actions">
				<li><a href="/search/" class="button icon fa-search">Search</a></li>
				<li><a href="/" class="button icon fa-home">Home</a></li>
			</ul>
		</div>
		<div class="image">
			<a href="/"><img src="/img/404-header-img.jpg" /></a>
		</div>
	</section>

{{ end }}
