{{ define "title" }}{{ .Title }} &bullet; {{ .Params.event }}{{ end }}
{{ define "main" }}
<article class="flex-l flex-wrap justify-between mw8 center ph3 ph0-l">
	<main class="nested-copy-line-height lh-copy f4 nested-links nested-img pr4-l measure-wide">
		{{ .Content }}
		<p><a class="mb3 pv2 ph3 ba bw1 black br-pill dib" href="{{ .Params.slides }}">Slides</a>
		{{ with .Params.video }}
		<a class="mb3 pv2 ph3 ba bw1 black br-pill dib" href="{{ . }}">Video</a>
		{{ end }}
		{{ with .Params.site }}
		<a class="mb3 pv2 ph3 ba bw1 black br-pill dib" href="{{ . }}">Website</a>
		{{ end }}
		{{ with .Params.location }}
		<a class="mb3 pv2 ph3 ba bw1 black br-pill dib" href="https://www.google.com/maps/place/{{ . }}">Venue</a>
		{{ end }}
	</main>
</article>
{{ end }}

{{ define "social" }}
		<meta name="og:title" content="{{ cond (eq .Site.Params.titlecase true) (.Title | title | markdownify) (.Title | markdownify) }}" />
		<meta name="og:type" content="article" />
		<meta name="og:image" content="{{ .Params.image }}" />
		<meta name="og:description" content="{{ .Description }}" />
		<meta name="og:url" content="{{ .Permalink }}" />
		<meta name="og:site_name" content="{{ cond (eq .Site.Params.titlecase true) (.Title | title | markdownify) (.Title | markdownify) }}" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@{{ .Site.Params.Twitter }}" />
{{ end }}
